# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,cmake
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,cmake

### CMake ###
.cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# C / C++
#

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so.*
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lo

# Executables
*.exe
*.out
*.app

bin/
/**/build
/**/build.*

.tags
.vscode
# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,cmake